html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

a {
    background-color: transparent;
}

#container {
    height: 200px;
    margin: 20px 50px;
    padding-top: 50px;
    background-color: dodgerblue;
    border: solid 2px grey;
}

#message {
    margin: 20px 100px;
    background-color: yellow;

}
