body {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin: auto 0;
    justify-content: center;
    text-align: center;
}

table {
    width: 100%;
}

#container {
    background: #ddddff;
    padding: 15px;
}

.box {
    height: 300px;
    display: flex;
    flex-flow: row wrap;
}

.box > * {
    flex: 1 1 33.3333%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .box > * {
        flex: 1 1 100%;
        text-align: center;
    }
}
